* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 5, 5);
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgb(49, 48, 48);
  height: 70px;
}

.nav-item-left {
  display: flex;
  align-items: center;
}

.nav-item-left h2 {
  margin-right: 15px;
}

.nav-item-left h4 {
}

.nav-item-right ul {
  display: flex;
  align-items: center;
}

.nav-item-right ul li {
  list-style-type: none;
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.answer {
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  border-radius: 500px;
}

.answer h3 {
  margin-left: 30px;
  margin-top: 40px;
}
